@charset "UTF-8";
/* content css */

.search-area { background: #f2f4f6; padding: 20px 19px; }

.channel-list { border-top: 2px solid #000; }

.channel-list li { padding: 20px 0; }

.channel-list li + li { border-top: 1px solid #dce2e6; }

.channel-list .img { border: 1px solid #dce2e6; }

.channel-list .img img { width: 166px; height: 166px; object-fit: cover; }

.channel-list .company { font-size: 22px; font-weight: 700; margin-bottom: 5px; }

.channel-list .desc { font-size: 16px; color: #777; letter-spacing: -0.8px; }

.channel-list .status { color: #0078ff; font-size: 14px; font-weight: 700; width: 230px; text-align: center; }

.channel-list .btn { background-color: #f7f8fa; width: 90px; padding-left: .5rem; padding-right: 0.5rem; }

.channel-list .m-n1.d-flex { width: 200px; text-align: center; }

.view-more { text-align: center; border-top: 1px solid #c8ced2; border-bottom: 1px solid #506064; padding: 12px; }

.channel-ci{
    position: absolute;left: 50%;top: 200px;margin-left: -94.5px;
    img{width: 189px;height: 189px;object-fit: cover; border-radius: 20px;box-shadow: 0 16px 12px 0 rgba(0, 0, 0, 0.16);}
    .btn-edit{display: inline-block;position: absolute;right: -10px;top: -10px;background: transparent;padding: 0;margin: 0;border: 0;}
}

table.type04 {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
  }
  table.type04 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }
  table.type04 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  }

  table.type04 tbody tr:hover {
    background: #ebf0f1;
  }

  #map {
    height: 100%;
  }
  
  /* Optional: Makes the sample page fill the window. */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  /* #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  } */

  #calendar {
    /* max-width: 100%; */
    max-height : 650px;
    margin: 0 auto;
  }

  .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px 0 0 0;
    color: #fff;
    background: #47b2e4;
  }
  


/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients .clients-slider .swiper-slide img {
  opacity: 0.7;
  transition: 0.3s;
}
.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}
.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #4154f1;
}
.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4154f1;
}

.clients .header-font h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  color: #37517e;
}

#footer .header-font {
  font-size: 15px;
  color: #838282;
}


